@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    min-width: 200px;
    background-color: lavender;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

table td.border-right-none {
    border-right: none;
}

.table-overflow-hidden td {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-table {
    width: 25px;
}

/* form */

.required {
    color: red;
}

input[type="text"] {
    font-size: 12px;
}

input[type="password"] {
    font-size: 12px;
}

textarea {
    font-size: 12px;
}

textarea::placeholder {
    font-size: 12px;
}

/* end of form */

.sidebar-color {
    background-color: #001f3f;

}

.sidebar-color a p {
    color: white;
}

.sidebar-color a i {
    color: white;
}

.table-hide-overflow {
    width: 100%;
    table-layout: fixed;
}

.table-hide-overflow td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* card */
.card {
    border: none;
    box-shadow: none;
}

.card-forestgreen {
    background-color: #001f3f;
    color: white;
}

.card-cloud {
    background-image: url('../../assets/img/cloud.png');
    background-size: cover;
}

.color-forestgreen {
    color: #001f3f;
}

.question {
    font-weight: 600;
    font-size: 14px;
}

.card-title {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.border-left-forestgreen {
    border-left: 0.25rem solid #001f3f !important;
}

.faq-body {
    border-left: 0.25rem solid gold !important;
    background-color: rgba(255, 193, 7, 0.2);
}

.content-title {
    font-size: 14px;
}

.content-title:hover {
    cursor: pointer;
}

i.icon-border-yellow {
    display: inline-block;
    border-radius: 10px;
    background-color: orange;
    color: white;
    padding: 0.25em 0.3em;
}

i.icon-border-default {
    display: inline-block;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0.25em 0.3em;
    color: black;
}

i.icon-border-red {
    display: inline-block;
    border-radius: 10px;
    background-color: red;
    padding: 0.25em 0.3em;
    color: white;
}

.fa-times {
    color: white;
}

/* end of card */

.accordion-border {
    border-left: 0.20rem solid forestgreen !important;
}

.nav-icon {
    vertical-align: middle;
}

.faq-hover {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: none;
}

/* header landing page */
#header-landing-page {
    height: 150px;
    background-image: url('../../assets/img/header-picture.jpg');
    background-position: 100% 40%;
    background-size: cover;
}

#bg-login {
    background-image: url('../../assets/img/header-picture.jpg');
    background-position: 100%;
    background-size: cover;
}

#header-landing-page .header-wrapper {
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 35px;
}

#header-landing-page .btn {
    font-size: 12px;
    border-radius: 8px;
}

/* end of header landing page */


/* content landing page */
#content-landing-page {
    padding: 25px 35px;
}

/* end of content landing page */

/* sidebar dashboard */
.logo {
    display: block;
    margin-top: 7px;
    margin-bottom: 4px;
}

.sidebar-white {
    background-color: forestgreen;
}

/* end of sidebar dashboard */

/* information */
#faq-category {
    background-color: gainsboro;
    border-radius: 3px;
}

.popover-header {
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}

.popover-body a {
    font-size: 12px;

}

.popover-body .btn-secondary {
    background-color: #d9534f;
    border-color: #d9534f;
}

/* end of information */

button.pdf {
    background-color: #ffc107;
    color: white;
    border: 0;
    font-size: 12px;
}

button.excel {
    background-color: #007bff;
    border: 0;
    font-size: 12px;
}

button.csv {
    background-color: #28a745;
    border: 0;
    font-size: 12px;
}

button.pageLength {
    background-color: #dc3545;
    border: 0;
    font-size: 12px;
}

table.fixed {
    width: 100%;
}

table.fixed th {
    text-align: center;
    min-width: 30px;
}

table.fixed th.number {
    max-width: 10px;
}

table.fixed th.id {
    max-width: 80px;
}

table.fixed th.nama {
    min-width: 300px;
}

table.fixed th.no {
    min-width: 250px;
}

table.fixed th.no-2 {
    min-width: 100px;
}

table.fixed th.vendor {
    min-width: 400px;
}

table.fixed th.oleh {
    min-width: 150px;
}

table.fixed th.daterangex {
    min-width: 150px;
}

table.fixed th.keterangan {
    min-width: 200px;
}

table.fixed th.aksi {
    min-width: 70px;
}

table.fixed th.rincian {
    min-width: 50px;
}


.select2-container .select2-selection--single {
    height: 31px !important;
}

.custom-file-input {
    height: 31px !important;
}

.custom-file-label {
    height: 31px !important;
}

@media (max-width: 576px) {
    #header-landing-page .header-wrapper {
        align-items: center;
        padding-left: 0px;
    }

    #nav-landing-page .container-fluid {
        padding-left: 10px;
    }

    #content-landing-page {
        padding: 25px 10px;
    }

    .dashboard-img {
        height: 100px;
    }
}